For any given string, we can consider a space with each letter of the alphabet as linearly independent / orthogonal and any string as some linear combination of the each letter. (How do we maintain ordering?)

In [5]:
import pandas as pd
import numpy as np

In [3]:
# Loading in Generic KB dataset which has a collection of generic
# sentences. Try to implement staggered space on the generic sentences
df = pd.read_table('./dataSets/GenericsKB-Best.tsv')
df.shape

(1020868, 5)

In [4]:
df.head()

,SOURCE,TERM,QUANTIFIER,GENERIC SENTENCE,SCORE
0,Waterloo,aa battery,NaN,AA batteries maintain the settings if the powe...,0.350923
1,ARC,aardvark female,NaN,Aardvark females appear to come into season on...,0.570737
2,ARC,aardvark hole,NaN,Aardvark holes are used by small buck as a res...,0.574909
3,Waterloo,aardvark skin,NaN,Aardvark skin is thick and sparsely haired.,0.444273
4,WordNet3.0,aardvark,NaN,Aardvark isa mammal.,1.000000

In [8]:
df.tail()

,SOURCE,TERM,QUANTIFIER,GENERIC SENTENCE,SCORE
1020863,ARC,zygotic meiosis,NaN,Zygotic meiosis occurs in bi flagellates and s...,0.780073
1020864,ARC,zygotic meiosis,NaN,Zygotic meiosis takes place in haploid protist...,0.778516
1020865,Waterloo,zygotic transcription,NaN,Zygotic transcription is required to block a m...,0.759783
1020866,Waterloo,zyplar soil,NaN,Zyplar soils are on pediments.,0.607443
1020867,Waterloo,zyplar soil,NaN,Zyplar soils are on rock pediments.,0.687016